.pokemon {
    font-family: var(--secondary-font);
}
.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: auto 0;
    max-width: 85vw;
}
.pokemon-item {
    border: solid 1px darkblue;
    margin: 15px;
    padding: 30px;
    height: 85px; 
}
.pokemon-item:hover {
    background-color: black;
    color: white;
    transition: transform 0.25s ease-in-out;
}